body {
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    font-family: Roboto, 'sans-serif';
}

.header,
.footer,
.information-section,
.quote-section {
    display: flex;
    flex-direction: column;
    padding: 10px 10%;

}


.header,
.footer {
    background-color: #1F2937;
    flex-grow: 0;

}

h1 {
    font-size: 24px;
    color: #f9faf8;
}



.links-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

a {
    text-decoration: none;

}

.banner-text,
a {
    font-size: 18px;
    color: #e5e7eb;

}

a:hover {
    color: #74703b;
}

.header-link {
    gap: 20px;
}



ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

}

.information-section-container {
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    justify-content: space-around;
    color: #1F2937;
    font-weight: 400;

}

.information-section-item {
    flex: 0 0 auto;
    width: 200px;
}

.information-section-imagen {
    width: 100%;
    height: 200px;
    border: solid 5px #3882f6;
    border-radius: 15px;

}

.banner {
    display: flex;
    width: 100%;
    height: 280px;
    gap: 15px;
    flex: 1;
    padding: 100px 0;
}

.first-section-banner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.button-fists {
    width: 150px;
    align-self: flex-start;
    border: none;
}

.woman-dog {
    flex: 1;
    height: auto;
    width: 30px;

}

button {

    background-color: #3882f2;
    border-radius: 15px;
    padding: 15px;
    font-size: 18px;
    color: #ffffff;
}

.information-section {
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
    padding: 20px 10% 100px;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.main-container {
    flex: 1;
}

.quote-section {
    background-color: #e5efeb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 100px 10%;
}

.autor {
    text-align: end;
    font-weight: 600;
}